<div class="col-md-9 connecteAccueil">
    <div class="row">
          <h4>bienvenue <span id="bienvenueJ"> <%= joueur %></span></h4>
     </div>
    <div class="row">
        <h5>Les parties</h5>

        <p>
            Proposer une partie : <select id="nvllePartie"> 
                                    <option>Sélectionner</option>
                                    <option>jeu des dix mille</option>
                                </select>
                                <button id="lancerPartie">lancerPartie</button>
        </p>
     </div>
    <div class="row">
            <div class="col-md-6" id="autresParties"> <h5>Les autres Parties :</h5> 
                <div class="row">
                    <div id="containerAutresParties"> <!-- style="visibility:hidden">   -->

                    </div>
                </div>
            </div>
            <div class="col-md-6" id="mesParties">
                <div class="row">
                    <div id="containerMesParties" class="col-md-offset-3 col-md-6">
                        <div id="pasDeMaPartie"><h5>Vous n'avez pas de partie lancée actuellement.</h5></div>
                        <div id="maPartieCree" style="visibility:hidden">
                            <h4 class="titreMaPartieCree"> <a id="maPartieId"></a><a id="maPartieJeu"></a></h4><br />
                            <a id="maPartieDateCreation"></a>
                            <div>
                                <h5>Inscrits :</h5>
                                <ul id="mesInscrits">
                                </ul>
                            </div>
                            <button id="annulerMaPartie">Annuler</button>
                        </div>
                        <div id="advertPartie"></div>
                    </div>
                </div>
            </div>

    </div>
</div>
