<div class="col-md-2 jumbotron listeJCo">
    <h4>Membres connectés : </h4>
	<ul id="listeJoueurs">
		<%  joueurs.forEach(function(joueur){    %>
			<li><%= joueur.pseudo%></li>
		<% } ) %>
	</ul>
</div>
