<header>
    <div class="row">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand head">
                        <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                        Bienvenue
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#" class="head">Profil</a></li>
                    <li><a href="#">à propos</a></li>
                </ul>
                <form action='/' method='get' id="quitterForm">
                     <ul class="nav navbar-nav pull-right"><li><a id="quitter" class="glyphicon glyphicon-flag ">Quitter</a></li></ul>
                </form>
            </div>
        </nav>
        <div id="dev">
    <!--        UNIQUEMENT POUR LE <dev></dev>      -->
            <button id="afficherListParties">afficherListParties</button>
            <button id="afficherJoueurs">afficherJoueurs</button>
        <div>
    </div>
</header>