<header>
    <div class="row">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand head">
                        <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                        Bienvenue
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#" class="head">Profil</a></li>
                    <li><a href="#">à propos</a></li>
                    <li class="dropdown"><a data-toggle="dropdown" href="#">Client-only<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">10 000</a></li>
                        </ul>
                        </li>
                </ul>
                <form action='/' method='get' id="quitterForm">
                     <ul class="nav navbar-nav pull-right"><li><a id="quitter" class="glyphicon glyphicon-flag ">Quitter</a></li></ul>
                </form>
            </div>
        </nav>
        <div id="dev">
    <!--        UNIQUEMENT POUR LE <dev></dev>      -->
            <div>
                <h5>var serveur</h5>
                <button id="afficherListParties">afficherListParties</button>
                <button id="afficherJoueurs">afficherJoueurs</button>
                <button id="testMySocket">testMySocket</button>
            </div>
            <div>
                <h5>var page</h5>
                <button id="testMyJoueurs">testMyJoueurs</button>
                <button id="MAJMyJoueurs">MAJMyJoueurs</button>
                <button id="amIInscris">amIInscris  ?</button>
            </div>
        <div>
    </div>
</header>