<header>
    <div class="row">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                        Bienvenue
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#">Profil</a></li>
                    <li><a href="#">à propos</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right"><li><a href="#" class="glyphicon glyphicon-flag ">Quitter</a></li></ul>
            </div>
        </nav>
    </div>
</header>