body
{
	background-image: radial-gradient(ellipse farthest-corner at 350px 165px, #00FFFF 0%, rgba(0, 0, 255, 0) 50%, #0000FF 95%);
/*//	background-color : gray;*/
}
header{

	 


}
/*
.quitter
{
	font-size:15px;
	color: red;
}*/
h4
{
	font-family :Verdana;
	text-align : center;
	color : rgb(18, 52, 80);
	text-shadow: 1px 1px 1px rgb(22, 170,239);
}
td
{
	margin : 3px 3px 3px 3px ; padding: 2px;
}
/*   page root   */
#inscrValid
{
	margin-top : 3px;
}
#errConnec
{
	 visibility: hidden; padding: 4px; text-align:center; font-size: 15px;  /* width: 55px; */
}
.explicationsOK, .explicationsNOK
{
	border-radius: 10px; padding: 0; font-family: Impact; font-size : 10px;
	border : 1px solid black;
}
.explicationsOK  /* sert lorsqu'une explication est positive */
{
	background-color: #9CB19C;
	color: #00D800;
	text-shadow: 1px 1px 1px white;
}
.explicationsNOK /* négative */
{
	background-color: #D68888;
	color: #FF0600;
	text-shadow: 1px 1px 1px black;
}
/* page connectée */
#quitterForm:hover
{
	cursor:pointer;
}
.listeJCo
{
	height:100%;
	max-height:100%;
	min-height:100%;
	color:green;
	background-color: rgba(216, 119, 15, 0.55);
	border-radius: 7px;
	border: groove 4px rgb(77, 16, 13);
	
}
.listeJCo h4
{
	font-family :Verdana;
	text-align : center;
	color : rgb(61, 73, 53);
	text-shadow: 2px 2Px 2px rgb(248, 129, 50);
	background-color: rgba(15, 216, 29, 0.7);
	border: 1px solid black;
	padding : 3px;
	border-radius: 4px;
}
#encarsJoueurs
{
	margin-left: 3px;
}
#listeJoueurs
{
	background-color: rgb(34, 30, 30);
	padding : 6px;
	text-align: center;
	border-radius:7px;
}
#listeJoueurs li
{
	color: rgb(247, 185, 182);
}
.connecteAccueil
{
	background-color: rgba(159, 199, 52, 0.55);
	border:1px solid rgb(5, 73, 10);
	margin : 0px 10px 0px 10px;
}
.connecteAccueil h5
{
	font-family :Colibri;
	text-align : center;
	color : rgb(109, 113, 8);
	text-shadow: 2px 2px 2px rgba(29, 8, 65, 0.55);
}
.autresParties				 /*concernera la divenglobante de l'affichage d'une nouvelle partie*/
{
	border: solid 2px orange;
	margin : 10px 10px 10px 10px ;		/* top right bottom left */
}
#maPartieCree
{
	/*/ l'avertissement ponctuel à la création de sa partie'*/
	background-color: white;
	color: red;
	font-family: Impact;
	font-weight: bold;
}
#pasDeMaPartie h5
{
	color: rgb(18, 32, 11);
	font-size: 1.3em;
}
#advertPartie
{
	color : rgb(47, 66,46);
	text-shadow: 2px 2px 2px rgba(237,163,20,0.6);
	font-size: 1.4em; font-weight: 600;
	font-family: Impact;
}
.idAutrePartie /*  le <a> de l'id autre partie */
{
	color: black;
	font-family: Verdana;
	font-weight: bold;
}
.jeuAutrePartie
{
	color: black;
	text-shadow: 2px 2px 2px white;
	font-family: Verdana;
	font-weight: italic;
	font-size: 1.3em;
	text-decoration : underline;
}
.dateAutrePartie
{
	color: black;
	font-size: 0.8em;
}
.infosUnePartie
{
	
}
.interacUnePartie
{
	
}
.unePartieAnnulee
{
	background-color :  gray;
}
.affichAnnulee
{
/*		affiche "annulée" dans le carré partie		*/	
	color:red;
	font-family:Impact;
	font-weight:bold;		 
}
button{

}
button:disabled{
	color:gray;
	background-color :  black;
}
.boutonNOK
{

}/*
.etatInscr
{
					 /* cette classe sert uniquement à identifier (pas de style) 
}*/
.etatInscrAttente
{
	 /* Style lorsque une demande (inscr ou desinscr a été demandée) */
	 color : none;
	 text-decoration : none;
	 font-weight : 200;
	 font-family : Verdana;
}
.etatInscr
{
	 /* Style lorsque une demande (inscr ou desinscr a été confirmée par le serveur) */
	 color : green;
	 text-decoration : underline;
	 font-weight : 600;
	 font-family : Impact;
}

/****	surcharge bootstrap	****/
.panel-heading
{
	text-align: center; border: solid 1px black;
}
.panel-heading a
{
	color: green;
}
.navbar
{
	background-color: rgba(9, 105, 63, 0.55);
}
.navbar-brand, .nav
{
	text-shadow : 1px 1px 1px white;
}

	
